.branch-sc {
  background: #f4f7fd;
  margin-bottom: var(--section-spacing);
}
.branch {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 55px;
  &-item {
  }
}


@media screen and (max-width: 1023.98px) {
  .branch {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 25%;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .branch::-webkit-scrollbar {
    display: none;
    width: 0;
    
  }
  .branch > * {
    scroll-snap-align: start;
  }
}

@media screen and (max-width: 600.98px) {
    .branch {
      grid-auto-columns: 35%;
    }
  }
