.features {
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--section-spacing);
  &-image {
    position: relative;
    transform: scale(1.1) translate(-8%, 0%);
  }
  &-content {
    width: 45%;
    .txt__title_sm {
      margin-bottom: 25px;
    }
    .txt__title {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 25px;
    }
    .txt__desc {
      margin-bottom: 37px;
      font-size: 16px;
      line-height: 26px;
    }
  }
}
.fearures-sc2 {
  background: #f4f8fd;
}
.features2 {
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--section-spacing);
  &-image {
    transform: scale(1.1);
  }
  &-content {
    width: 45%;
    .txt__title_sm {
      margin-bottom: 25px;
    }
    .txt__title {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 25px;
    }
    .txt__desc {
      margin-bottom: 37px;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

@media screen and (max-width: 1200.98px) {
  .features {
    padding: 30px 20px 0px 20px;
    flex-direction: column-reverse;
    &-image {
      transform: scale(1);
      img {
        max-width: 100%;
      }
    }
    &-content {
      width: 100%;
      .txt__title_sm {
        margin-bottom: 15px;
        font-size: 14px;
      }
      .txt__title {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 15px;
      }
      .txt__desc {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 14px;
      }
      .btn {
        padding: 10px 20px;
        font-size: 14px;
      }
    }
  }
  .features2 {
    padding: 30px 20px 0px 20px;
    flex-direction: column;
    &-image {
      transform: scale(1) translate(-10%);
      img {
        max-width: 100%;
      }
    }
    &-content {
      width: 100%;
      .txt__title_sm {
        margin-bottom: 15px;
        font-size: 14px;
      }
      .txt__title {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 15px;
      }
      .txt__desc {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 14px;
      }
      .btn {
        padding: 10px 20px;
        font-size: 14px;
      }
    }
  }
}
